<ion-header>
  <ion-toolbar color="primary">
    <ion-title >
      {{"quiz" | translate}}
    </ion-title>
    <ion-buttons slot="start" color="secondary" >
      <ion-back-button class="white" defaultHref="/tabs/tab1"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <!-- Text questions -->
  <div>
    <ion-grid>
      <ion-row class="question-title">
        <ion-col col="12">
          <h3 style="display: flex;">
            <img class="mr-3 hand" (click)="listen(quiz[plus]?.audio)" src="../../assets/images/speakersw.svg" alt="Play" width="48"/>
            {{quiz[plus]?.title}}
          </h3>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row class="question" *ngFor="let item of quiz[plus]?.anwsers; let i = index">
        <ion-col col="12" (click)="choose(item, quiz[plus])">
          <img class="mr-3 hand imgt" (click)="listen(item.audio)" src="../../assets/images/speakersw.svg" alt="Play" width="48"/>
          <h3 style="display: flex;">
            <span class="lettre">
              {{lettre[i]?.item}}
            </span>
            
            {{item.title}}
          </h3>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row class="questions" >
        <ion-col col="3">
          <div *ngIf="plus>0">
            <span *ngIf="plus-1<quiz?.length" (click)="previousstep(plus, item, quiz[plus])" class="nexts" style="color:white;font-size: 2rem;
            text-align: center;">
              <img src="../../assets/images/arrow_left.png" alt="Resume" width="50" /><br><small style="font-size:.7rem;">Previous</small>
            </span>
          </div>
          <div *ngIf="plus==0" style="text-align: center;">
            <span *ngIf="plus-1<quiz?.length" (click)="backClicked()" class="nexts" style="color:white;font-size: 2rem;
            text-align: center;">
              <img src="../../assets/images/home.png" alt="Resume" width="25" /><br><small style="font-size:.7rem;">Home</small>
            </span>
          </div>
        </ion-col>
        <ion-col col="6"> </ion-col>


        <ion-col col="3">
          <span *ngIf="plus+1<quiz.length" (click)="nextstep(plus, item, quiz[plus])" class="nexts" style="color:white;font-size: 2rem;
          text-align: center;">
            <img src="../../assets/images/arrow_right.png" alt="Resume" width="50" /><br><small style="font-size:.7rem;">Next</small>
          </span>


          <span *ngIf="deja==false" style="text-align: center;">
            <span *ngIf="plus==quiz.length-1" (click)="validate(plus, item, quiz[plus])" class="nexts" style="color:white;font-size: 2rem;
            text-align: center;">
              <img src="../../assets/images/done.png" alt="Resume" width="50" /><br><small style="font-size:.7rem;">Finished</small>
            </span>
  </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
</ion-content>
