ion-content{

    --ion-background-color: #004D3A;
}

.question{
    border: 1px solid white;
    margin: 10px;
    background-color: white;
}


.question-title{
    margin: 10px;
}

.imgt {
    background-color: #064d3a;
    padding: 10px;
}

.lettre{
    background-color: #9b5bae;
    margin: 5px;
    padding: 10px;
    color: white;
}

.checked{
float: right;
}